<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

  <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="#">Distributed DNS Chord</a>

  <div class="navbar navbar-expand-lg" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link active" href="/"> Add Nodes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search" > Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/delete" >Delete</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/update" >Update</a>
        </li>
    </ul>
  </div>
     </nav>
  



<div class="container">
	<br><br><br>
	<form action="http://localhost:5000/" method="POST" class="form-inline my-2 my-lg-0">
       <h4 style="margin-right: 20px; font-weight: lighter; ">Enter the Key :</h4>   <input type="text" name="key"  class="form-control mr-sm-2"  placeholder="Key" aria-label="Key">
       <br>
       <h4 style="margin-right: 20px; font-weight: lighter; "> Enter the Value :</h4>
       <input type="text" name="value"   class="form-control mr-sm-2"  placeholder="value" aria-label="value">
       <br>
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="success()">
    </form>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  function success(){
    Swal.fire(
  'Entry Added!',
  'success'
)
  }
</script></body>
</html>
